body {background-color: rgb(49, 56, 99)
}

h1 {color:rgb(253, 253, 253);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: x-large;
font-weight:bold
}

h3 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:large
}

h4 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
}

p {
color:rgb(254, 254, 255);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: smaller;
text-align:justify;
}

.toolbar-nav {
font-family: Montserrat, Arial, Helvetica, sans-serif;
background-color: rgb(49, 56, 99);
}

.img{
  display: block;
  margin: 0%, auto;
  width: 50%; 
  align-items: center;
  z-index: 2;
}