body {background-color: linear-gradient(180deg,rgba(30, 40, 116, 0.952),rgba(158, 158, 158, 0.74));
}

h1 {color:rgb(253, 253, 253);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: x-large;
font-weight:bold
}

h3 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight:bold;
}

h4 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
}

p {
color:rgb(254, 254, 255);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: smaller;
text-align:justify;
}

.toolbar-nav {
font-family: Montserrat, Arial, Helvetica, sans-serif;
background-color: rgb(49, 56, 99);
}

.img{
  display: block;
  margin: 0%, auto;
  width: 50%; 
  border-radius: 40%;
  align-items: center;
}

.footer{
  height: 50px;
  margin-top: -50px;
}

.header{
  height: 50px;
  margin-bottom: -50px;
}

.content {
  min-height: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}