body {background-color: rgb(49, 56, 99);
}

h1 {color:rgb(253, 253, 253);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: x-large;
font-weight:bold;
text-align: center;
}

h3 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight:bold;
  text-align: center;
}

h4 {color:rgb(253, 253, 253);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}

p {
color:rgb(254, 254, 255);
font-family: Montserrat, Arial, Helvetica, sans-serif;
font-size: smaller;
text-align:justify;
}

.toolbar-nav {
font-family: Montserrat, Arial, Helvetica, sans-serif;
background-color: rgb(49, 56, 99);
}

.image{
  text-align: center;
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 20%;
}

.footer{
  overflow: hidden;
  background-color: #9fa0a6fa;
  height: 50px;
  margin-top: -50px;
}

.header {
  overflow: hidden;
  background-color: #9fa0a6fa;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: rgb(33, 38, 68);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}